{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-xs-10">
        <h2  style="text-align: center; font-weight: 700;color: white; ">Page de visualisation</h2>
    </div>

    <table id="data" class="table">
        <thead>
        <tr class="filters">
            <th>Titre</th>
            <th>Description</th>
            <th>Date de création</th>
            <th>Status</th>
            <th>Lien</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{task.title}}</td>
            <td>{{task.description}}</td>
            <td>{{task.dateCreated|date('Y/m/d')}}</td>
            {% if task.status == true %}
                <td>Fait !</td>
            {% else %}
                <td>A faire !</td>
            {% endif %}
            <td ><a href="{{ path('task_edit', {'id': task.id})}}"  class="btn bloc btn-default btn-lg"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                <a href="{{ path('task_delete', {'id': task.id}) }}" class="btn bloc btn-default btn-lg"><i class="fa fa-times" aria-hidden="true"></i></a>
            </td>
        </tr>
    </tbody>
    </table>

    <a href="{{ path('homepage')}}"  class="btn bloc btn-default btn-lg">Retour</a>
{% endblock %}